	<div class="col-zs-12 lead brandHeader">List Journal Entries</div>
	<div class="container">
		<div growl></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'entry.title' | translate }}</th>
						<th>{{ 'entry.entrytypeId' | translate }}</th>
						<th>{{ 'entry.dateCreated' | translate }}</th>
						<th><a class="btn btn-info" href='#/entry/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entry in entrys">
						<td>{{entry.title}}</td>
						<td>{{entry.entrytypeId}}</td>
						<td>{{entry.dateCreated | date:'shortDate'}}</td>
						<td><a class="btn btn-info" href="#/entry/{{entry.identry}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
</div>
