		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Entry' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'entry.title' | translate }}</th>
						<th>{{ 'entry.entrytypeId' | translate }}</th>
						<th>{{ 'entry.dateCreated' | translate }}</th>
						<th><a class="btn btn-info" href='#/entry/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entry in entrys">
						<td>{{entry.title}}</td>
						<td>{{entry.entrytypeId}}</td>
						<td>{{entry.dateCreated | date:'shortDate'}}</td>
						<td><a class="btn btn-info" href="#/entry/{{entry.identry}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
