
<br/>

	<h3>List Journal Entries</h3>
	<div class="container">
		<div growl></div>
			
			<table class="table table-striped  table-hover"  fixed-header table-height="450px">
				<thead>
					<tr class="brandHeader">
						<th>Title</th>
						<th>Type</th>
						<th>Created</th>
						<th style="float:right"><a class="btn btn-info" href='#/entry/new'>New Entry</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entry in entrys | filter : {entrySubType : 'J' }   ">
						<td>{{entry.title}}</td>
						<td>{{entry.entryType.id}}</td>
						<td>{{entry.dateCreated | date:'shortDate'}}</td>
						<td><a class="btn btn-info" ui-sref="viewEntry({id: {{entry.identry}} })">{{ 'view' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
</div>
