
<div ng-include src="'partials/message-include.html'"></div>

<form>

<br/>
<div class="row">
	<div class="col-xs-6">
		<p style="margin-top: 1.5em; ">			
				The purpose of this journal is to record daily techinques, facts, algorithms, and other useful but obscure bits of information
				I encounter during the working day that will most likely need repeating at some point days (or months) later. Additionally, this
				tool also offers a great way of capturing and consolidating data and information gathered from various "google-ing" sessions as
				well as online tutorials of all kinds. It also provides a means of extracting and re-packing tips, tricks, and techniques captured from
				various computer books on programming, web development, software design, and project planinning just to name a few areas of
				personal interest and on-going study. The intent of this site to take the amassed information and after proper massaging repackage
				and display it in a meaniful way for further edification. This site will continue to evolve as I learn other techniques specific to web 
				design and development using AngularJS and BootStrap.
		</p>
	</div>
	<div class="col-xs-6">
		<img src="img/acientScrolls1.jpg"   width="100%"  style="margin-top: -0.7em;"/>
	</div>
</div>

<br/>
<div class="row" >

	<div class="col-xs-4 well well-sm" ng-controller="BookCtrl as bookCtrl">
		<h3>Books</h3>
		<p>View a list of existing books listed previuosly or log a new book</p>
		<a class="btn btn-info" ui-sref="listBooks">View Books</a>
	</div>
	
	<div class="col-xs-4  well well-sm" ng-controller="EntryCtrl as entryCtrl">
		<h3>Journal Entries</h3>
		<p>Record new journal entries or view and edit previous entries </p>
		<a class="btn btn-info"  ui-sref="listEntries">View Journal</a>
	</div>
	
	<div class="col-xs-4 well well-sm" ng-controller="NoteCtrl as noteCtrl">
		<h3>Notes</h3>
		<p>Record detailed notes by category or review previously entered notes</p>
		<a class="btn btn-info" ui-sref="listNotes">View Notes</a>
	</div>
	
</div>    
 
</form>

