
	<h3>
		{{ 'welcome' | translate }}
	</h3>

	<div ng-include src="'partials/message-include.html'"></div>
   		      
	<ul class="entity">
        <li><a href="#/book">{{ 'Book' | translate }}</a></li>
        <li><a href="#/bookCategory">{{ 'BookCategory' | translate }}</a></li>
        <li><a href="#/bookPublisher">{{ 'BookPublisher' | translate }}</a></li>
        <li><a href="#/category">{{ 'Category' | translate }}</a></li>
        <li><a href="#/entry">{{ 'Entry' | translate }}</a></li>
        <li><a href="#/entrytype">{{ 'Entrytype' | translate }}</a></li>
        <li><a href="#/person">{{ 'Person' | translate }}</a></li>
        <li><a href="#/publisher">{{ 'Publisher' | translate }}</a></li>
    </ul>
  