		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'Publisher' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'publisher.id' | translate }}</th>
						<th>{{ 'publisher.name' | translate }}</th>
						<th>{{ 'publisher.url' | translate }}</th>
						<th><a class="btn btn-info" href='#/publisher/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="publisher in publishers">
						<td>{{publisher.id}}</td>
						<td>{{publisher.name}}</td>
						<td>{{publisher.url}}</td>
						<td><a class="btn btn-info" href="#/publisher/{{publisher.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
