	<div class="col-zs-12 lead brandHeader">List Book Categories</div>
	<div class="container">
		<div growl></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'bookCategory.bookId' | translate }}</th>
						<th>{{ 'bookCategory.categoryId' | translate }}</th>
						<th><a class="btn btn-info" href='#/bookCategory/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bookCategory in bookCategorys">
						<td>{{bookCategory.bookId}}</td>
						<td>{{bookCategory.categoryId}}</td>
						<td><a class="btn btn-info" href="#/bookCategory/{{bookCategory.bookId}}/{{bookCategory.categoryId}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
</div>
