<br/>

<h3>List Books</h3>
  
<div class="container">
	<div growl></div>

	<table class="table table-striped"  fixed-header table-height="450px">
		<thead>
			<tr class="brandHeader">			    				 
				<th>{{ 'book.isbn' | translate }}</th>
				<th>{{ 'book.author' | translate }}</th>
				<th>{{ 'book.title' | translate }}</th>
				<th>{{ 'book.subtitle' | translate }}</th>
				<th>{{ 'book.abstractDescription' | translate }}</th>
				<th>{{ 'book.numberPages' | translate }}</th>
				
				<th><a class="btn btn-info" href='#/book/new'>{{ 'create' | translate }}</a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="book in books">
			    <td>{{book.isbn}}</td>
			    <td>{{book.author}}</td>				 				
				<td>{{book.title}}</td>
				<td>{{book.subtitle}}</td>
				<td>{{ book.abstractDescription | limitTo: 40 }}{{book.abstractDescription.length > 40 ? '...' : ''}}</td>
				<td>{{book.numberPages | number }}</td>
				
				<td><a class="btn btn-info" ui-sref="editBook({id: {{book.id}} }) " >{{'edit' | translate }}</a></td>
			</tr>
		</tbody>
	</table>
</div>
